:javascript
  jQuery(document).ready(function(){
    
    jQuery('#note_dialog').dialog();
    jQuery('.ui-dialog').css('display', 'none');
  });
=javascript_tag "http://code.jquery.com/jquery-1.10.1.min.js"
=link_to_function 'Bulk Add Notes',"jQuery('.ui-dialog').show()"

 
%div.some{:id=>"note_dialog" ,:title=>"Bulk Add Notes"}
  = form_tag("leads/bulk_node_add.json", method: "post", :remote=>true) do 
    = label_tag(:note, "Add Notes:")
    = hidden_field_tag 'query', query
    %br
    = text_area_tag(:note) 
    %br
    %br
    = submit_tag("Add Notes", :onclick=>"jQuery('.ui-dialog').hide(); alert('Notes have been added')")

